.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .gallery li {
    margin: 10px;
  }
  
  .gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  